apiVersion: v1
kind: ConfigMap
metadata:
  name: controlplane-config
  namespace: edc-v
data:
  # base config
  edc.hostname: "controlplane.edc-v.svc.cluster.local"
  edc.vault.hashicorp.url: "http://vault.edc-v.svc.cluster.local:8200"
  edc.vault.hashicorp.token: "root"
  edc.participant.id: "did:web:connector"
  edc.iam.did.web.use.https: "false"
  edc.iam.credential.revocation.mimetype: "application/json"

  # web config
  web.http.port: "8080"
  web.http.path: "/api"
  web.http.protocol.port: "8082"
  web.http.protocol.path: "/api/dsp"
  web.http.management.port: "8081"
  web.http.management.path: "/api/mgmt"
  web.http.control.port: "8083"
  web.http.control.path: "/api/control"

  # NATS config
  edc.nats.cn.subscriber.url: "nats://nats.edc-v.svc.cluster.local:4222"
  edc.nats.cn.publisher.url: "nats://nats.edc-v.svc.cluster.local:4222"
  edc.nats.tp.subscriber.url: "nats://nats.edc-v.svc.cluster.local:4222"
  edc.nats.tp.publisher.url: "nats://nats.edc-v.svc.cluster.local:4222"
  edc.postgres.cdc.url: "jdbc:postgresql://postgres.edc-v.svc.cluster.local:5432/controlplane"
  edc.postgres.cdc.user: "cp"
  edc.postgres.cdc.password: "cp"
  edc.postgres.cdc.slot: "edc_cdc_slot_controlplane"

  # dataplane config
  edc.datasource.default.url: "jdbc:postgresql://postgres.edc-v.svc.cluster.local:5432/controlplane"
  edc.datasource.default.user: "cp"
  edc.datasource.default.password: "cp"
  edc.sql.schema.autocreate: "true"


  # Oauth2 config
  # KeyCloak takes the `iss` claim's host from the request URL. For now, this is the URL defined in the ingress route.
  # to do this properly, we should probably configure the following properties on the ingress route:
  #    proxy_set_header Host $host;
  #    proxy_set_header X-Forwarded-Proto $scheme;
  edc.iam.oauth2.issuer: "http://keycloak.localhost/realms/edcv"
  edc.iam.oauth2.jwks.url: "http://keycloak.edc-v.svc.cluster.local:8080/realms/edcv/protocol/openid-connect/certs"

  JAVA_TOOL_OPTIONS: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=1044"
