#
# Copyright (c) 2025 Metaform Systems, Inc.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License, Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
#
# Contributors:
#      Metaform Systems, Inc. - initial API and implementation
#

apiVersion: batch/v1
kind: Job
metadata:
  name: redline-seed
  namespace: edc-v
  labels:
    app: redline-seed
    platform: edcv
    type: edcv-job
spec:
  backoffLimit: 5
  template:
    metadata:
      labels:
        app: redline-seed
        platform: edcv
        type: edcv-job
    spec:
      restartPolicy: OnFailure
      initContainers:
        # Wait for tenant-manager to be ready
        - name: wait-for-redline
          image: curlimages/curl:latest
          command:
            - sh
            - -c
            - |
              until curl -sf http://redline.edc-v.svc.cluster.local:8081/api/public/health; do
                echo "Waiting for Redline to be ready..."
                sleep 5
              done
              echo "Redline is ready!"
      containers:
        - name: seed-redline
          image: badouralix/curl-jq # we need jq
          env:
            - name: REDLINE_BASE_URL
              value: "http://redline.edc-v.svc.cluster.local:8081/api/ui"
            - name: CONSUMER_DID
              value: "did:web:identityhub.edc-v.svc.cluster.local%3A7083:demo-consumer"
            - name: PROVIDER_DID
              value: "did:web:identityhub.edc-v.svc.cluster.local%3A7083:demo-provider"
          command:
            - sh
            - -c
            - |
              set -e

              echo "================================================"
              echo "Redline Seeding"
              echo "================================================"

              # Create Service Provider
              echo "Creating Service Provider..."
              SP_RESPONSE=$(curl -sf -X POST "$REDLINE_BASE_URL/service-providers" \
                -H "Content-Type: application/json" \
                -d '{
                  "name": "JAD Service Provider"
                }')

              SP_ID=$(echo "$SP_RESPONSE" | jq -r '.id')
              echo "Service Provider with ID $SP_ID created successfully"
              
              # Create Dataspace
              echo "Creating Dataspace..."
              DATASPACE_RESPONSE=$(curl -sf -X POST "$REDLINE_BASE_URL/dataspaces" \
                -H "content-type: application/json" \
                -d '{
                  "name": "Catena-X",
                  "properties": {
                    "description": "A Demo Dataspace for JAD"
                  }
                }')
              DATASPACE_ID=$(echo "$DATASPACE_RESPONSE" | jq -r '.id')
              echo "Dataspace $DATASPACE_ID created successfully"
              
              # Create Tenant
              echo "Seed Consumer Tenant"
              TENANT_RESPONSE=$(curl -sf -X POST "$REDLINE_BASE_URL/service-providers/$SP_ID/tenants" \
                -H "content-type: application/json" \
                -d '{
                  "tenantName": "Demo Consumer Company",
                  "dataspaceInfos": [
                    {
                      "dataspaceId": '$DATASPACE_ID',
                      "agreementTypes": [],
                      "roles": []
                    }
                  ]
                }')
              
              CONSUMER_TENANT_ID=$(echo "$TENANT_RESPONSE" | jq -r '.id')
              echo "Tenant created with ID $CONSUMER_TENANT_ID"
              CONSUMER_PARTICIPANT_ID=$(echo "$TENANT_RESPONSE" | jq -r '.participants[0].id')
              
              # Register Participant
              echo "Deploy Participant $CONSUMER_PARTICIPANT_ID..."
              curl -sf -X POST "$REDLINE_BASE_URL/service-providers/$SP_ID/tenants/$CONSUMER_TENANT_ID/participants/$CONSUMER_PARTICIPANT_ID/deployments" \
                -H "content-type: application/json" \
                -d '{
                  "participantId": '$CONSUMER_PARTICIPANT_ID',
                  "identifier": "'"$CONSUMER_DID"'"
                }'
              
              echo "Participant deployed. Waiting for participant to become ACTIVE."
              
              
              # Wait for Participant to become ACTIVE
              while true; do
                result=$(curl -s -X GET "$REDLINE_BASE_URL/service-providers/$SP_ID/tenants/$CONSUMER_TENANT_ID/participants/$CONSUMER_PARTICIPANT_ID" | jq '[.agents[].state] | all(. == "ACTIVE")')
                
                if [ "$result" = "true" ]; then
                     echo "All agents are ACTIVE"
                     break
                fi
                     
                echo "Waiting for all agents to become ACTIVE..."
                sleep 10
              done
              
              # Register data plane for consumer participant
              curl -sf -X POST "$REDLINE_BASE_URL/service-providers/$SP_ID/tenants/$CONSUMER_TENANT_ID/participants/$CONSUMER_PARTICIPANT_ID/dataplanes"

             
              # Create Provider Tenant
              echo "Seed Provider Tenant"
              TENANT_RESPONSE=$(curl -sf -X POST "$REDLINE_BASE_URL/service-providers/$SP_ID/tenants" \
                -H "content-type: application/json" \
                -d '{
                  "tenantName": "Demo Provider Company",
                  "dataspaceInfos": [
                    {
                      "dataspaceId": '$DATASPACE_ID',
                      "agreementTypes": [],
                      "roles": []
                    }
                  ]
                }')
              
              PROVIDER_TENANT_ID=$(echo "$TENANT_RESPONSE" | jq -r '.id')
              echo "Tenant created with ID $PROVIDER_TENANT_ID"
              PROVIDER_PARTICIPANT_ID=$(echo "$TENANT_RESPONSE" | jq -r '.participants[0].id')
              
              # Register Participant
              echo "Deploy Participant $PROVIDER_PARTICIPANT_ID..."
              curl -sf -X POST "$REDLINE_BASE_URL/service-providers/$SP_ID/tenants/$PROVIDER_TENANT_ID/participants/$PROVIDER_PARTICIPANT_ID/deployments" \
                -H "content-type: application/json" \
                -d '{
                  "participantId": '$PROVIDER_PARTICIPANT_ID',
                  "identifier": "'"$PROVIDER_DID"'"
                }'
              
              echo "Participant deployed. Waiting for participant to become ACTIVE."
              
              
              # Wait for Participant to become ACTIVE
              while true; do
                result=$(curl -s -X GET "$REDLINE_BASE_URL/service-providers/$SP_ID/tenants/$PROVIDER_TENANT_ID/participants/$PROVIDER_PARTICIPANT_ID" | jq '[.agents[].state] | all(. == "ACTIVE")')
              
                if [ "$result" = "true" ]; then
                     echo "All agents are ACTIVE"
                     break
                fi
              
                echo "Waiting for all agents to become ACTIVE..."
                sleep 10
              done
              
              # Register data plane for provider participant
              curl -sf -X POST "$REDLINE_BASE_URL/service-providers/$SP_ID/tenants/$PROVIDER_TENANT_ID/participants/$PROVIDER_PARTICIPANT_ID/dataplanes"
              
              # Register consumer and provider as partners
              echo "Registering Partners..."
              curl -sf -X POST "$REDLINE_BASE_URL/service-providers/$SP_ID/tenants/$CONSUMER_TENANT_ID/participants/$CONSUMER_PARTICIPANT_ID/partners/$DATASPACE_ID" \
                -H "content-type: application/json" \
                -d '{
                  "identifier": "'"$PROVIDER_DID"'",
                  "nickname": "provider-partner"
                }'
              
              curl -sf -X POST "$REDLINE_BASE_URL/service-providers/$SP_ID/tenants/$PROVIDER_TENANT_ID/participants/$PROVIDER_PARTICIPANT_ID/partners/$DATASPACE_ID" \
                -H "content-type: application/json" \
                -d '{
                  "identifier": "'"$CONSUMER_DID"'",
                  "nickname": "consumer-partner"
                }'
              
              echo "================================================"
              echo "Redline Seeding Complete"
              echo "================================================"
