#
# Copyright (c) 2025 Metaform Systems, Inc.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License, Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
#
# Contributors:
#      Metaform Systems, Inc. - initial API and implementation
#

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: reg-agent-config
  namespace: edc-v

data:
  # the file must be called "tm", and the extension must be one of
  # "json", "toml", "yaml", "yml", "properties", "props", "prop", "hcl", "tfvars", "dotenv", "env", "ini"
  regagent.env: |
    uri: nats://nats.edc-v.svc.cluster.local:4222
    bucket: cfm-bucket
    stream: cfm-stream
    httpport: 8080
    postgres: true
    dsn: postgres://cfm:cfm@postgres.edc-v.svc.cluster.local:5432/cfm?sslmode=disable
    keycloak.tokenUrl: http://keycloak.edc-v.svc.cluster.local:8080/realms/edcv/protocol/openid-connect/token
    keycloak.clientId: provisioner
    keycloak.clientSecret: provisioner-secret
    issuerservice.url: http://issuerservice.edc-v.svc.cluster.local:10013/api/admin
    issuer.id: aXNzdWVy # base64 encoded "issuer"